*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background:black;
}
header{
    width:100vw;
    height:5vw;
    background-color: #f6f6f6;
    padding:20px;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
}
/* .navbar{
    
} */
.logo-head{
    display: inline;
    font-size: medium;
}
header nav ul li{
    display:inline;
    text-decoration: none;
    /* border-bottom: 1px solid black; */
    margin-right: 25px;
    /* color:burlywood; */
}
header nav ul li a{
    text-decoration: none;
/*     color:black; */
    color:black;

}
.Navbar-Li:hover{
    border-bottom: 1px solid rgba(136, 139, 163, 0.829);
}
/* .fab{
    margin-right: 25px;
} */
